{% extends 'base.html' %}

{% block title %}  
Contribute.Create post
{% endblock %}

{% block content %}

<h1>Contribute</h1>
<hr>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form action="{% url "new-post" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>What video would you like to share?</p>

        <div class="vids">
            <p>Youtube videos</p>
                Content
                <input type="text" class="form-control" value="" name="content" required>
                Video URL
                <input id="videourl" type="text" class="form-control" value="" name="video_url" required>
        </div>
        <div class="pics">
            <p>Post thumbnail - if not specified, will be generated for you</p>
                <input type="file" class="form-control" accept="image/*" name="coverimage">
        </div>
        <hr>
            <input id="addVideoForm" type="submit" class="form-control" value="Post!" name="">
        </form>
    </div>
</div>
{% endblock %}
