{% extends 'base.html' %}

{% load shortener %}
{% load tagify %}
{% load thumbnail %}

{% block title %}  
Observe posts
{% endblock %}

{% block content %}

<div class="row">
{% for post in posts %}
<div class="col-sm-12 col-md-6">
<div class="thumbnail">
    {% if post.coverimage %}
    <a href="{% url 'post' post.id %}">
    <img class="responsive-img card-image" src={{post.coverimage.url}} alt="{{post.content}}"/>
    {% endif %}
    
    <div class="caption">
        <h1>
                {{ post.content | shortener | tagify | safe }}
        </h1>
    </div>
    </a>
</div>
<div class="reaction">
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width:{{post.get_likes_percentage}}%">
        </div>
        <div class="progress-bar progress-bar-warning" style="width:{{post.get_watched_percentage}}%">
        </div>
        <div class="progress-bar progress-bar-danger" style="width:{{post.get_dislikes_percentage}}%">
        </div>
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
