{% extends 'base.html' %}

{% load staticfiles %}
{% load tagify %}

{% block title %}  
Observe posts
{% endblock %}

{% block content %}
<h1>Post list</h1>

<div class="row">
<div class="col s8 push-s2">
<div class="card">
    <div class="card-image">
        <img class="responsive-img card-image" src={{post.thumbnail.url}} alt="{{post.content}}"/>
        <span class="card-title">
            Shared by {{ post.user.username }}
        </span>
    </div>
    <div class="card-content">
        <p>
            {{ post.content | tagify | safe }}
        </p>
    </div>
    <div class="card-action">
        <p>Liked by {{ post.like_user_set.count }}</p>
        <p>
        <a href="">LIKE!!</a>
        </p>
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col s8 push-s2">
        <div id="comment" data-post-id="{{post.id}}"> Comments </div>
            <p>Commented by {{request.user.username }}</p>
            <textarea id="comment" name="content" required></textarea>
            <input id="submit" class="submit" type="submit" value="Share comment">
    </div>
</div>



{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{% static "vanityfair/js/detail.js" %}" type="text/javascript"></script>
{% endblock %}
