{% extends 'base.html' %}

{% load staticfiles %}
{% load tagify %}

{% block title %}  
Observe posts
{% endblock %}

{% block content %}
<h1>Post list</h1>

<div class="row">
<div class="col s8 push-s2">
<div class="card">
    <div class="card-image">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ post.source_id}}" frameborder="0" allowfullscreen></iframe>
        <hr>
        <span class="card-title">
            Shared by {{ post.user.username }}
        </span>
    </div>
    <div class="card-content">
        <p>
            {{ post.content | tagify | safe }}
        </p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width:{{post.get_likes_percentage}}%">
            Liked by {{ post.get_likes.count }}
        </div>
        <div class="progress-bar progress-bar-warning" style="width:{{post.get_watched_percentage}}%">
            So-so by {{ post.get_watched.count }}
        </div>
        <div class="progress-bar progress-bar-danger" style="width:{{post.get_dislikes_percentage}}%">
            Disliked by {{ post.get_dislikes.count }}
        </div>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'reaction' post.id 'like' %}">Like</a>
        <a class="btn btn-default" href="{% url 'reaction' post.id 'dislike' %}">Dislike</a>
        <a class="btn btn-default" href="{% url 'reaction' post.id 'watched' %}">So-so</a>
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col s8 push-s2">
        <div id="comment" data-post-id="{{post.id}}"> Comments </div>
            <p>Commented by {{request.user.username }}</p>
            <textarea id="comment" name="content" required></textarea>
            <input id="submit" class="submit" type="submit" value="Share comment">
    </div>
</div>



{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{% static "vanityfair/js/detail.js" %}" type="text/javascript"></script>
{% endblock %}
