{% load pipeline %}
<!DOCTYPE html>
{% stylesheet 'vendor' %}
{% stylesheet 'main' %}
{% javascript 'vendor' %}
{% javascript 'main' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Vanity Fair</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body> 
    {% include 'partials/header.html' %}
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>
