{% load pipeline %}
<!DOCTYPE html>
{% stylesheet 'vendor' %}
{% stylesheet 'main' %}
{% javascript 'vendor' %}
{% javascript 'main' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %} | Vanity Fair</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body class="container"> 
    {% include 'partials/header.html' %}
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'partials/footer.html' %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '645518058929147',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</div>
</body>
</html>
