{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}
{% block content %}

<div class="jumbotron home" >
    <img class="home-image" src="{{post.coverimage.url}}" alt="{{post.content}}">
    <div class="home-caption">
        <h1 class="home-logo">GOQUAL</h1>
        <h2>고퀄리티 유투브 영상 저장소</h2>
            <a class="btn btn-primary btn-lg" href="{% url 'posts' %}">
                시작하기 
            </a>
    </div>
    <div class="hot-video">
        <p>배경 이미지:{{post.content}}</p>
    </div>
    
</div>

{% endblock %}
