body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

* {
    font: sans-serif;
}

header {
    background: red;
}

footer {
    background: blue;
}
